@charset "utf-8";
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong, b, mark {
    font-weight: bold;
    font-style: inherit;
}
em, i, cite, q, address, dfn, var {
    font-style: italic;
    font-weight: inherit;
}
abbr[title], dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}
ins {
    border-bottom: 1px solid;
}
a, u, ins {
    text-decoration: none;
}
del, s {
    text-decoration: line-through;
}
pre, code, samp, kbd {
    font-family: monospace;
}
small {
    font-size: 0.75em;
}
img {
    border: none;
    font-style: italic;
}
input,
option, optgroup,
textarea {
    font: inherit;
}

select {
   background: transparent;
   padding: 0px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 5px;
   height: 25px;
   -webkit-appearance: none;
   overflow: hidden;
   -moz-appearance: none;
   color:#006600;
}

html {
  position: relative;
  min-height: 100%;
}

/*
Some template settings
*/


.spaced {
    line-height: 200%;
}

.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
 }

#left-btn-group {
    float: left;
}

#left-btn-group-dis {
    float: left;
}

#right-btn-group {
    float: right;
}

#right-btn-group-dis {
    float: right;
}


#checkmodeButton {
    display : none;
}

#checkButton {
    display : none;
}


/*
Out custom settings
*/

#title{
    font-size:40px;
    text-align:center;
}

#tit1, #tit2 {
    color: #4d4d4d ;
}

#ambiguous{
    width:25em;
    background-color:black;
}


#disambiguated{
    float:right;
    width: 100%;
}

#disambiguated_text {
    overflow: auto;
    float:right;
    width:100%;
    height:25em;
    font-family: "DejaVu Sans";
    word-wrap:break-word;
    border: 1px solid #ccc;
    border-radius : 3px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075)
}

#warnings {
    color:red;
    font-size:30px;
}

#ambiguous_text {
    width: 30em;
    height: 25em;
    font-family: "DejaVu Sans";
    float:left;
}

.btn-group {
    font-family: "DejaVu Sans";
}

/*
Grid
*/

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*Footer*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
}

.content {
    background-color: #eee;
    float: none;
    margin-left: 25px;
    margin-top: 25px;
    padding-right : 0px !important;
    background-color: #eee;
    border : #fff solid 4px;
    border-radius : 10px;
}

#disambiguated_text {
    background-color: #fff;
}

.container .text-muted {
  margin: 20px 0;
}

.row {
    margin-right: 60px !important;
    margin-left: 60px !important;
}


.right-form {
    float: right;
}

.select {
    color: #007433;
}

/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media handheld, only screen and (max-width: 720px) {
    .avatar,
    .content {
        float: none;

    }

    .avatar img {
        max-width: 150px;
        max-height: 150px;
    }

    .content {
        width: 100%;
    }
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 992px) {
  .masthead {
    width: 700px;
  }
}
