<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">


    <title>Ambiruptor - The Ambiguity Interruptor</title>

     <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	
	<div class="top">
    <div style="display:inline;text-align:center; ">
      <a href="/"><img src="../static/img/dino_circle_no_interr.svg" class="logo"/></a>
      <!-- <div style="float: right"> -->
        Ambiruptor
      <!-- </div> -->
    </div>	
	</div>







<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
	       <li><a href="ambiruptor">App</a></li>
      </ul>
    </div><!-- /.navbar-collapse
  </div><!-- /.container-fluid -->
</nav>


<div class="container">

</div>
    <div class="row">
    <div class="fixer-container">
     <div class="jumbotron jumbotron-fluid about">
     
      <div class="container">

          <h1 id="habout">Introduction</h1>
          <p>
          The main point of our project is a development of a word-sense disambiguation tool. Our aim is to be able, given a certain text, to determine the actual meaning of each ambiguous word with the highest accuracy possible. We use Wikipedia, and more specifically its internal links, in order to produce an annotated corpus from which a machine learning framework is developed. 
          </p>
          <br>
          <!-- <hr> -->

          <h1 id="habout">Installation</h1>

          <p>
          In order to install the <b>Ambiruptor project</b> you have to clone the <a href="https://github.com/Ambiruptor/Ambiruptor">repository</a>. Then just use the <b>Makefile</b> to download/compile the basic files needed.
          </p>
          <br>
          
          <h1 id="habout">License</h1>

          <p>The Ambiruptor project is available under the <b>GNU GLPv3 license</b>. For more informations consult <a href="http://www.gnu.org/licenses/gpl-3.0.html">www.gnu.org/licenses/gpl-3.0.html</a></p>
          <br>

          <h1 id="habout">Authors and Contributors</h1>
          <p>
            <ul class="contributors">
              <li><a href="https://github.com/Boritchev">@Boritchev</a></li>
              <li><a href="https://github.com/BRIKCI-SID-Boumediene">@BRIKCI-SID-Boumediene<a></li>
              <li><a href="https://github.com/eugeniashurko">@eugeniashurko</a></li>
              <li><a href="https://github.com/okupriianova">@okupriianova</a></li>
              <li><a href="https://github.com/Pouloud">@Pouloud</a></li>
              <li><a href="https://github.com/simon-mauras">@simon-mauras</a></li>
              <li><a href="https://github.com/stendjaoui">@stendjaoui</a></li>
              <li><a href="https://github.com/VuXuan">@VuXuan</a></li>
            </ul>
          </p>
          <br>

          <h1 id="habout">Support or Contact</h1>

          <p>
            You can contact us using the email adress <a>ambiruptor@ens-lyon.fr</a>.
          </p>

        </div>
        </div>
      </div>
    </div>
      <hr>
	
      
    </div> <!-- /container -->

	<footer>
        <p>Powered by the best integrated project team, 2016. Contact us at ambiruptor@ens-lyon.fr</p>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

