<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Ambiruptor - ambiguation interruptor</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/css/style.css">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body class="animated bounceInDown">
        <div class="avatar">
            <img src="static/img/logo.png" alt="Logo">
        </div>
        <br>
        <div class="content">
            <!-- <h1 class="title">Ambiruptor</h1> -->

            <form action="#">
              <textarea name="text" placeholder="Enter your text here"></textarea>
              <p><input type="submit" value="Disambiguate"></p>
            </form>

            <ul class="social-icons">
                <li><a class="github" href="https://github.com/Ambiruptor/Ambiruptor" title="Github">Github</a></li>
            </ul>
        </div>
    </body>
</html>